<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  
  <input type="hidden" name="DocotorID" #DocotorID = "ngModel" [(ngModel)] = "service.formData.DocotorID">
  <!-- <div class="form-group"> -->
    <label>Name</label>
    <input name="Name" #Name = "ngModel" [(ngModel)] = "service.formData.Name" class="form-control" required>
  <!-- </div> -->
<div class="validation-error" *ngIf="Name.invalid && Name.touched">Name is required!</div>
    <br>
  <!-- <div class="form-group"> -->
    <label>Age</label>
    <input name="Age" #Age = "ngModel" [(ngModel)] = "service.formData.Age" class="form-control" required>
  <!-- </div> -->
  <div class="validation-error" *ngIf="Age.invalid && Age.touched">Age is required!</div>
    <br>
  <!-- <div class="form-group"> -->
    <button type="submit" bind-disabled="form.invalid" class="btn btn-lg btn-success btn-block">SUBMIT</button>
  <!-- </div> -->



</form>